.uv-index {
    display: none;
    width: 20px;
    height: 20px;
  }

  .uv-index #favorable {
      background-color: green;
  }

  .uv-index #moderate {
      background-color: yellow;
  }

  .uv-index #severe {
      background-color: red;
  }